<h1 class="page-header">Profil</h1>

<div class="container">
  <div class="">
    <div class="col s8 offset-2">
      <form #imageForm=ngForm >
            <img src="{{imageUrl}}" class="image" >

        <h3>Promeni profilnu</h3>
            
            <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input  type="file" name="fileUplaod" id="fileUpload"  ng2FileSelect [uploader]="uploader" value="Izaberi">
            </div>

            <div>
                <div class="row uploadList" *ngFor="let item of uploader.queue">
                  
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" (click)="item.upload()">Postavi</button>
                        <button type="button" class="btn btn-danger" (click)="item.remove()">Odustani</button>
                    </div>
                </div>                        
            </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Ime: {{ firstName }}</li>
        <li class="list-group-item">Prezime: {{ lastName }}</li>
        <li class="list-group-item">Korisničko ime: {{ username }}</li>
  <li class="list-group-item">E-mail: {{ email }}</li>
</ul>
</div>