
  <h1 class="page-header" >Blog diskusije</h1>


<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<div >
  <div *ngIf="!admin">
    <button type="button" name="button" class="btn btn-warning float-button"  *ngIf="!newPost"  (click)="newBlogForm()" >Kreiraj blog</button>
  </div>

  <button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Osveži</button>
</div>
<br />
<br />


<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">

  <div class="form-group">
    <label for="title">Naslov</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
   
      <input type="text" name="title" class="form-control" placeholder="*Naslov" autocomplete="off" formControlName="title" />

      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">Ovo polje je prazno</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Maksimmalna dužina polja je 50, a minimalna 5
        </li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Naslov mora da sadrži slova ili brojeve</li>
      </ul>
    </div>
  </div>


  <div class="form-group">
    <label for="body">Tekst</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
     
      <textarea name="body" rows="8" cols="80" placeholder="*Unesite tekst" class="form-control" formControlName="body"></textarea>
   
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">Polje mora viti popunjeno</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Maksimalna duđina je 500, a minimalna 5</li>
      </ul>
    </div>
  </div>

 
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Nazad</button>

  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Potvrdi</button>

</form>



<div *ngIf="!newPost">

  <div class="panel panel-primary" *ngFor="let blog of blogPosts">

    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }}</h3>
    </div>

    <div class="panel-body">
      {{ blog.body }}
    </div>

    <div class="panel-footer">
      <strong>Postavio: </strong>{{ blog.createdBy }}
      <br />
      <strong>Datum: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
      <br />
      <div *ngIf="username === blog.createdBy">
        <strong>Sviđanja: </strong>{{ blog.likes }}
        <br />
        <strong>Ne sviđanja: </strong>{{ blog.dislikes }}
      </div>
  
        <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="(username === blog.createdBy)"><button type="button" name="button" class="btn btn-sm btn-info float-button glyphicon glyphicon-pencil"></button></a>

        <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy || admin"><button type="button" name="button" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button></a>

    <div *ngIf="!admin">
      <div class="dropdown float-button">

        <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success " *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span> {{ blog.likes }}</button>

        <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
        </div>
      </div>
    </div>

      <div *ngIf="!admin">
      <div class="dropdown">

        <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span> {{ blog.dislikes }}</button>

        <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
      </div>
      </div>

    </div>

    <ul class="list-group">
      <li class="list-group-item">

        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Komentariši</button>
        <br />
        <br />
        <div *ngIf="newComment.indexOf(blog._id) > -1">

          <form [formGroup]="commentForm">

            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>

            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">Polje mora biti popunjeno</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Komentar mora da sadrži najvmanje 1 karakter,a najvise 200</li>
              </ul>
            </div>

            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Postavi</button>

            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Odustani</button>
          </form>

        </div>

        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
          <span (click)="expand(blog._id)">
            Prikaži komentare&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click)="collapse(blog._id)">
           Sakrij kometare&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong>{{ comment.commentator }}:</strong> {{ comment.comment }} 
          </li>
        </div>
    </ul>

  </div>

</div>
