<h1 class="page-header">Izmeni Blog</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Naslov</label>
    <input [disabled]="processing" type="text" name="title" placeholder="*Naslov" class="form-control" [(ngModel)]="blog.title" />
  </div>

  <div class="form-group">
    <label for="body">Tekst</label>
    <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="blog.body" class="form-control" placeholder="*Tekst"></textarea>
  </div>

    <a [routerLink]="['/delete-blog/', blog._id]"><button  [disabled]="processing"  type="button" name="button" class="btn btn-danger float-button">Obriši</button></a>
    <button [disabled]="processing" type="button" name="button" class="btn btn-success float-button" (click)="goBack()">Nazad</button>
    <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Sačuvaj</button>
 
</form>