<h1 class="page-header">Registracija</h1>


<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<form [formGroup]="form" (submit)="onRegisterSubmit()">
    <div class="form-group">
        <label for="firstName">Ime</label>
        <div [ngClass]="{'has-error': (form.controls.firstName.errors && form.controls.firstName.dirty), 'has-success': !form.controls.firstName.errors}">
          <input type="text" name="firstName" class="form-control" autocomplete="off" placeholder="*Ime" formControlName="firstName" />
        
          <ul class="help-block">
            <li *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.dirty">Polje ne sme biti prazno</li>
            <li *ngIf="form.controls.firstName.errors?.minlength && form.controls.firstName.dirty || form.controls.firstName.errors?.maxlength && form.controls.firstName.dirty ">Polje sadrži minimalno 2, a maksimalno 30 karaktera</li>
            <li *ngIf="form.controls.firstName.errors?.validateName && form.controls.firstName.dirty">Ime sadrži samo slova i prvo slovo mora biti veliko</li>
          </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Prezime</label>
        <div [ngClass]="{'has-error': (form.controls.lastName.errors && form.controls.lastName.dirty), 'has-success': !form.controls.lastName.errors}">
          <input type="text" name="lastName" class="form-control" autocomplete="off" placeholder="*Prezime" formControlName="lastName" />
          
          <ul class="help-block">
            <li *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.dirty">Polje ne sme biti prazno</li>
            <li *ngIf="form.controls.lastName.errors?.minlength && form.controls.lastName.dirty || form.controls.lastName.errors?.maxlength && form.controls.lastName.dirty ">Polje sadrži minimalno 2, a maksimalno 30 karaktera</li>
            <li *ngIf="form.controls.lastName.errors?.validateName && form.controls.lastName.dirty">Prezime sadrži samo slova i prvo slovo mora biti veliko</li>
          </ul>
        </div>
    </div>


  <div class="form-group">
    <label for="username">Korisničko ime</label>
    <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
      <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Korisničko ime" formControlName="username" (blur)="checkUsername()"  />

      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Polje ne sme biti prazno</li>
        <li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Polje sadrži minimalno 3, a maksimalno 15 karaktera</li>
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Korisničko ime ne sadrži specijalne karaktere</li>
        <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*E-mail" formControlName="email" (blur)="checkEmail()" />

      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Polje ne sme biti prazno</li>
        <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Polje sadrži minimalno 5, a maksimalno 30 karaktera</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">E'mail mora biti ispravno unešen</li>
        <li *ngIf="emailMessage">{{ emailMessage}}</li>
      </ul>
    </div>
  </div>


  <div class="form-group">
    <label for="password">Lozinka</label>
    <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
      <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Lozinka" formControlName="password" />

      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Polje ne sme biti prazno</li>
        <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Polje sadrži minimalno 8, a maksimalno 35 karaktera</li>
        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Lozinka mora da sadrži mala i velika slova,broj i neki specijalni karakter</li>
      </ul>
    </div>
  </div>


  <div class="form-group">
    <label for="confirm">Ponovi</label>
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Ponovi lozinku" formControlName="confirm" />

      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">Polje ne sme biti prazno</li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Lozinke se ne poklapaju</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="gender">Pol</label>
    <div [ngClass]="{'has-error': (form.controls.gender.errors && form.controls.gender.dirty), 'has-success': !form.controls.gender.errors}">
      <input type="radio" value="male" name="gender" formControlName="gender" required> Muški
      <input type="radio" value="female" name="gender" formControlName="gender"l required> Ženski
      <ul class="help-block">
        <li *ngIf="form.controls.gender.errors?.required && form.controls.gender.dirty">Polje ne sme biti prazno</li>
      </ul>
    </div>
  </div>

  <input [disabled]="!form.valid || processing || !emailValid || !usernameValid " type="submit" class="btn btn-primary" value="Potvrdi" />

</form>
