<nav class="navbar navbar-default nav-bg ">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        
       </button>
      <a class="navbar-brand " routerLink="/">Poljo Blog</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-center">
        <li *ngIf="authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home">Početna</a></li>
        <li *ngIf="authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/profile">Profil</a></li>
        <li *ngIf="authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/blog">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/login">Prijava</a></li>
        <li *ngIf="authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" (click)="onLogoutClick()">Odjava</a></li>
        <li  *ngIf="!authService.loggin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Registracija</a></li>
      </ul>
    </div>
  </div>
</nav>